# deps
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
*.tsbuildinfo

# go compiled binaries
apps/ingestion/ingestion

# env & secrets
.env
.env.local
.env.*.local

# logs / misc
*.log
.DS_Store
coverage/
.turbo/

# data
/data/
minikube-linux-amd64
*.tar.gz
